.profile_wrap {
  width: 100%;

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--gap-xlarge) * 2.5);

    @media all and (max-width: 1000px) {
      width: 90%;
    }

    .profile_area {
      display: flex;
      width: 100%;

      @media all and (max-width: 1000px) {
        flex-direction: column;
      }

      .img_wrap {
        width: 25%;
        flex-direction: column;
        border-right: 1px solid #eee;
        padding-right: var(--gap-xlarge);
        box-sizing: border-box;

        @media all and (max-width: 1000px) {
          width: 100%;
          border: 0;
          padding: 0;
        }

        input[type="file"] {
          display: none;
        }

        .profileImg {
          width: 130px;
          cursor: pointer;

          img {
            width: 100%;
            border-radius: 50%;
          }

          .img_area {
            width: 100%;
            height: 130px;
            border-radius: 50%;
            border: 4px dotted #ddd;
            box-sizing: border-box;
            text-align: center;
            color: #555;
          }
        }

        .uploads {
          margin: var(--gap-xlarge) 0 calc(var(--gap-xlarge) / 2) 0;
          background: #12b886;
          color: #fff;
        }

        .deletes {
          color: #12b886;
        }
      }

      .name_area {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding-left: var(--gap-xlarge);

        @media all and (max-width: 1000px) {
          padding-left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: calc(var(--gap-xlarge) / 2);
          width: 100%;
        }

        .nickname {
          width: 100%;
          font-size: calc(var(--fontsize-large) * 2.5);

          @media all and (max-width: 1000px) {
            font-size: calc(var(--fontsize-large) * 1.7);
            text-align: center;
          }
        }

        .sub_name {
          font-size: var(--fontsize-large);
          color: #666;
          @media all and (max-width: 1000px) {
            font-size: var(--fontsize-regular);
          }
        }
      }
    }

    .suggest {
      width: 100%;
      display: flex;
      margin-top: calc(var(--gap-xlarge) * 3.5);
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      padding-bottom: var(--gap-xlarge);

      @media all and (max-width: 1000px) {
        margin-top: calc(var(--gap-xlarge) * 1.8);
      }

      .suggest_title {
        margin-right: calc(var(--gap-xlarge) * 2.5);
        font-size: var(--fontsize-large);
        font-weight: 500;
      }

      .explan {
        width: 100%;
        margin-top: calc(var(--gap-xlarge) * 1.4);
        color: #868e96;
        @media all and (max-width: 1000px) {
          margin-top: 10px;
        }
      }
    }
  }
}
