.board_wrap {
  padding-top: calc(var(--gap-xlarge) * 5);

  .board__header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 768px;
    gap: calc(var(--gap-xlarge) * 1.2);
    padding-bottom: calc(var(--gap-xlarge) * 2.8);
    border-bottom: 1px solid #ddd;
    .header_img {
      border-radius: 50%;
    }
    .board__nickname {
      font-size: calc(var(--fontsize-large) * 1.3);
      font-weight: 500;
    }
  }

  .board__content {
    display: flex;
    width: 100%;

    .content__in {
      max-width: 768px;
      padding-top: var(--gap-xlarge);
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      .all_view {
        color: rgb(32, 201, 151);
        span {
          color: #888;
        }
      }
    }
  }
}
