.sns_sign {
  width: 100%;
  height: 100px;

  button {
    background-color: var(--whiteColor);
    height: 100%;
    border: 0;
    &:focus {
      box-shadow: none;
    }
  }

  .button_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
  }
}
